div {
    display: flex;
    justify-content: space-around;
  }
  form {
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
  }
  
  
  
  label {
    font-size: 20px;
  }
  
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  table tr:nth-child(even) {
    background-color: #8caacf;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0468aa;
    color: white;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #2b619e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #3973b6;
  }
  
  h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: monospace;
    color: #2b619e;
    text-decoration: underline;
  }
   45 changes: 45 additions & 0 deletions45  
  TodoDOM_552626 (1)/index.html
  @@ -0,0 +1,45 @@
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>U2C3</title>
      <link rel="stylesheet" href="index.css" />
    </head>
    <body>
      <!-- Dont make any changes here -->
      <h1>TODO App</h1>
  
  
      <div>
        <!-- ***** We are using form here  ****  -->
        <form>
          <label for="">Task Name</label><br />
          <input id="task" type="text" placeholder="Enter Task Name" /><br />
          <label for="">Priority </label><br />
          <select id="priority">
            <option value="">Select Priority</option>
            <option value="High">High</option>
            <option value="Low">Low</option>
          ><br />
          <input type="submit" />
        </form>
        <table>
          <!-- Dont change order of columns -->
          <thead>
            <tr>
              <th>Task</th>
              <th>Priority</th>
              <th>Favourite</th>
            </tr>
          </thead>
          <tbody>
          <!-- Append your output to tbody -->
          </tbody>
        </table>
      </div>
    </body>
  </html>
  
  <script src="index.js"></script>
   39 changes: 39 additions & 0 deletions39  
  TodoDOM_552626 (1)/index.js
  @@ -0,0 +1,39 @@
  let myForm = document.querySelector("form")
  let inpTask = document.getElementById("task")
  let prioritySelect = document.getElementById("priority")
  let tbody = document.querySelector("tbody")
  
  let AllTask = [];
  myForm.addEventListener("submit" , function(e)
  {
      e.preventDefault();
  
     let Data = {
          input : inpTask.value,
          priority : prioritySelect.value,
      }    
      AllTask.push(Data);
  
  
  
      tbody.innerHTML = ""
      AllTask.map((ele) =>
      {
          let tr = document.createElement("tr")
          let td1 = document.createElement("td")
          let td2 = document.createElement("td")
          console.log(ele.input)
          td1.innerText = ele.input
          td2.innerText = ele.priority
          tr.append(td1,td2);
          tbody.append(tr)
      })
  
  })
  
  if(prioritySelect = "High"){
      tbody.style.backgroundColor = "red"
  }
  else{
      tbody.style.backgroundColor = "green"
  }